// 颜色定义规范
$color-background = #f7f7f7
$color-text = #fff
$color-app-theme = #494c5a
$color-text-slogan = #ffcc00
$color-text-gray = #999

//字体定义规范
$font-size-app = .26rem
$font-size-header-back = .3rem
$font-size-header = .36rem
$font-size-menu = .4rem

//其他规范
$height-header = 1rem
